body{
    background-image: url('dark_wood.png');
}

a {
    color: white; 
    font-weight: bold;
    font-size: 24px;
}

div {
    background-color: #8E41D5; 
    outline-style: solid;
    outline-color: red;
    outline-width: thin;
    max-width: 3000px;
    position: static;
    overflow: visible;
}

p {
    font-weight: bold;
    font-family: "Arial";
    color: white;
}

h3 {
    font-size: 40px;
    font-family: "Passion One";
    color: #FFBC00;
    margin-bottom: 0px;
}

ul {
     list-style-type: none;
     padding-left: 0px;
}

li {
    display: inline;
}

#Header {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border:solid 8px black;
    text-align: center;
}

#Header h1 {
    font-size: 60px;
    font-family: "Passion One";
    color: #FFBC00;
    font-weight: bold;
}

#LeftNav {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border:solid 8px black;
    float:left;
    text-align: center;
    padding-bottom: 8px;
}

#LeftNav img {
    opacity: 0.5;
}

#LeftNav ul {


}

#LeftNav h3 {

}

#Content {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border:solid 8px black;
    text-align: center;
    padding: 15px;
}

#Footer {
    border:solid 8px black;
    text-align: center;
}
